<h2>Edit Product</h2>

<%= form_for ([@post, @comment]) do |f| %>
	<p><%= f.label :title %></p>
	<%= f.text_field :title %>
	<p><%= f.label :description %></p>
	<%= f.text_area :description %>
	<p><%= f.label :price %></p>
	<%= f.number_field :price %>
	<p><%= f.label :stock %></p>
	<%= f.number_field :stock %>
	<p><%= f.label :image %></p>
	<%= f.file_field :image %>

	<p><%= f.submit %></p>
<% end %>